<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Agenda tu hora</mat-card-title>
  </mat-card-header>
<mat-card-content>

    <!-- Inicio contenido de la tarjeta -->
  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput [formControl]="nameFormControl" [errorStateMatcher]="matcher" name="nameInput" placeholder="Ej. Juan Pérez" >
        <mat-error *ngIf="nameFormControl.hasError('pattern')">
          Por favor ingrese un nombre válido, solo se admiten carácteres y espacios
        </mat-error>
        <mat-error *ngIf="nameFormControl.hasError('required')">
          Este campo es un <strong>requisito</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field>
        <mat-label>RUT</mat-label>
        <input matInput [formControl]="rutFormControl" [errorStateMatcher]="matcher" name="rutInput" placeholder="Ej. 12345678-9">
        <mat-error *ngIf="rutFormControl.hasError('invalid')">
          Por favor ingrese un RUT válido
        </mat-error>
        <mat-error *ngIf="rutFormControl.hasError('required')">
          Este campo es un <strong>requisito</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Teléfono</mat-label>
        <input matInput [formControl]="phoneFormControl" [errorStateMatcher]="matcher" name="phoneInput" placeholder="Ej. 912345678">
        <mat-error *ngIf="phoneFormControl.hasError('pattern')">
          Por favor ingrese un número de celular válido
        </mat-error>
        <mat-error *ngIf="phoneFormControl.hasError('required')">
          Este campo es un <strong>requisito</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Correo Electrónico</mat-label>
        <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" name="emailInput" placeholder="Ej. email@ejemplo.com">
        <mat-error *ngIf="emailFormControl.hasError('pattern')">
          Por favor ingrese un email válido
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Este campo es un <strong>requisito</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field appearance="fill">
        <mat-label>Días disponibles</mat-label>
        <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="datepicker" [min]="minDate" [max]="maxDate" [(ngModel)]="day" (keyup.Tab)="datepicker.open()" (click)="datepicker.open()" (dateChange)="getHours()">
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker ></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="fill">
        <mat-label>Horas Disponibles</mat-label>
        <mat-select [(ngModel)]="time" (selectionChange)="printHour()">
          <mat-option *ngFor="let hour of hours" [value]="hour.hour">
            {{ hour.hour }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <!-- Fin contenido de la tarjeta -->

  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)='createAppointment()'>ENVIAR</button>
  </mat-card-actions>
</mat-card>


