
<mat-card>
  <div class="row" *ngIf="_userService.token">
    <div *ngIf="!gotData">
      {{getAppointments()}}
      {{datarefresh()}}
    </div>

    <ul>
      <mat-list *ngFor="let appointment of appointments" >
        <mat-list-item>
        <span>Nombre: {{appointment.name}} Rut: {{appointment.rut}} </span>
        <button (click)="acceptAppointment(appointment)">Aceptar</button>
        <button (click)="rejectAppointment(appointment)">Rechazar</button>
      </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </ul>
  


    <div class="col-sm-12">Ingresaste como: {{ _userService.username }}.<br />
      Token Expires: {{ _userService.token_expires }}<br />
      <button mat-button (click)="logout()">Cerrar sesión</button>
    </div>

  </div>

</mat-card>


