<div class="row" *ngIf="!_userService.token">
  <mat-form-field class="col-sm-3">
    <mat-label>Usuario</mat-label>
    <input matInput type="text" name="login-username" [(ngModel)]="user.username">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" name="login-password" [(ngModel)]="user.password">
  </mat-form-field>
  <br>
  <div class="col-sm-4">
    <button mat-button (click)="login()">Ingresar</button>
  </div>
    <div class="col-sm-12">
      <span *ngFor="let error of _userService.errors.non_field_errors">{{ error }}<br /></span>
    </div>
  </div>
  <div class="row" *ngIf="_userService.token">
    <div *ngIf="!gotData">
      {{getAppointments()}}
      {{datarefresh()}}
    </div>
    <ul>
      <li *ngFor="let appointment of appointments" >
        <span>Nombre: {{appointment.name}} Rut: {{appointment.rut}} </span>
        <button mat-button (click)="acceptAppointment(appointment)">Aceptar</button>
        <button mat-button (click)="rejectAppointment(appointment)">Rechazar</button>
      </li>
    </ul>



    <div class="col-sm-12">Ingresaste como: {{ _userService.username }}.<br />
      Token Expires: {{ _userService.token_expires }}<br />
      <button mat-button (click)="logout()">Cerrar sesión</button>
    </div>

  </div>




