.success {
    list-style: none;
    background-color: green;
    color: white;
    text-align: center;
}

.fail {
    list-style: none;
    background-color: red;
    color: white;
    text-align: center;
}

.createcampaign-card {
  width: 60%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%
}
